@import "tailwindcss";

/* Configuração do seu Design System no Tailwind v4 */
@theme {
  /* Cores da sua Marca */
  --color-brand-50: #e6f4fd;
  --color-brand-200: #acdef2;
  --color-brand-400: #5bb5d9;
  --color-brand-500: #5496bf;
  --color-brand-600: #37648c;
  --color-brand-700: #3b465b;
  --color-brand-800: #242b3a;
  --color-brand-900: #1d3759;

  /* Fontes Personalizadas */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-bricolage), ui-sans-serif, system-ui, sans-serif;

  /* Animações Customizadas */
  --animate-floating-slow: floating 6s ease-in-out infinite;

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@layer base {
  body {
    @apply bg-brand-50 text-brand-900 antialiased;
  }
}
